.grey {
    background-color: #676767;
}

.red {
    background-color: #da176c;
}

.orange {
    background-color: #ffa200;
}

.light-green {
    background-color: #6dee6d;
}

.light-blue {
    background-color: #09afe6;
}

.purple {
    background-color: #8423bc;
}

button {
    border-radius: 50%;
    margin: 0.5em;
    min-height: 48px;
    min-width: 48px;
    text-decoration: none;
}